* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.clickable{
  cursor: pointer;
}

.clickable:hover{
  color:#444;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f7f7f7;
}

::-webkit-scrollbar-thumb {
  background: #333;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 4.5vw;
  margin-bottom: 10px;
}

h3 {
  font-size: 3vw;
}

p{
  font-size: 2vw;
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 7vw;
  }
  
  h3 {
    font-size: 5vw;
  }
  
  p{
    font-size: 4vw;
  }
}

body {
  background-color: #f7f7f7;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  /* line-height: 1rem; */
}

.card {
  position: relative;
  min-height: 85vh;
}

.center {
  width:100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Projects Section */

.projects-video{
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
}

/* center video for smaller screens credit: Traversy Media */
.projects-video video{
  position:absolute;
  top:60%;
  left:50%;
  transform:translate(-50%,-65%);
}

.projects-video:after{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);
}
.projects-video:hover:after{
  background-color:rgba(0,0,0,0.3);
}


#projects h1{
  width:100%;
  color:#f7f7f7;
  position: absolute;
  left:50%;
  transform:translateX(-50%);
  z-index: 10;
}

/* Technologies section */

.technology-container{
  display:flex;
  width:75%;
  /* left:50%; */
  /* -ms-transform: translate(-50%, -50%); */
  transform: translate(12.5%,10%);
}

.technology-title{
  flex:1;
  text-align: right;
  padding-right:20px;

}

.technology-list{
  flex:1;
  font-size: 2rem;
  text-align: left;
}

.technology-item{
  /* transform:rotate(-15deg) translateY(-100%); 
  line-height: 3rem; */

}

/* Contact section  */
.contact-info{
  position: absolute;
  left:30%;
}

@media screen and (max-width:900px){
  .contact-info{
    left:20%;
  }
}

.contact-content{
  display:inline;
}

.contact-title{
  display:inline;
}